body {
    font-family: Arial, sans-serif;
    background: url('/yt.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 250px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    margin: 5px;
}

table, #attendanceView {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.modal-dialog {
    max-width: 800px;
}
